DB_URL=mysql+aiomysql://user:password@127.0.0.1:3306/db_name?charset=utf8mb4

MAIL_USERNAME=your_email@qq.com
MAIL_PASSWORD=your_smtp_password
MAIL_FROM=your_email@qq.com
MAIL_PORT=587
MAIL_SERVER=smtp.qq.com
MAIL_FROM_NAME=FastAPI 服务
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_TOKEN_DAYS=15
JWT_REFRESH_TOKEN_DAYS=30

GAODE_KEY=your_gaode_api_key
